<div class="container">
    <h2>Login</h2>
    <form class="col-xs-4">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="text" class="form-control" id="password" required>
        <a routerLink="/recovery">mot de passe oublié?</a>
      </div>
      <button type="submit" class="btn btn-success">Soumettre</button>
    </form>
</div>