table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.rank + td {
    width: 100%;
}

table, th, td {
    border: 1px solid black!important;
    border-collapse: collapse;
}
