<div class="container">
  <h1>Order introspection</h1>
  <h2>Display Date</h2>
  <table class="table">
    <tr><td>Current Shipping</td> <td>{{current}}</td></tr>
    <tr><td>Next Shipping</td> <td>{{next}}</td></tr>
  </table>

  <h2>Select date</h2>
  <table class="table">
    <tr *ngFor="let order of results | async ">
      <td>
        <table class="table">
          <tr>
            <td class="bg-success text-white rank">
              {{order.rank}}
            </td>
            <td style="background-color: #efefef">
              {{order.customer.displayName}}
            </td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <p><a href="#">{{order.shipping.streetAdress}}</a> <b>{{order.shipping.postalCode}}</b> Etage: {{order.shipping.floor}}</p>
            <p><b>Note:</b> {{order.shipping.note}}</p>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <p><button class="btn btn-info" [disabled]="!isReady" (click)="collectOf()">Collecte du</button></p>
  <p><button class="btn btn-info" [disabled]="!isReady" (click)="findAllOrdersForShipping()">Livraison du</button></p>
  <input type="date" [(ngModel)]="date" />
</div>