<div class="container">
  <h1>List of users</h1>
  <table class="table">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Logged</td>
      <td>Updated</td>
      <td>Validate</td>
      <td>Role</td>
      <td>Address</td>
      <td>Shop</td>
    </tr>
    <tr *ngFor="let u of users">
      <td> <a [routerLink]="['/user',u.id]">{{u.id}}</a></td>
      <td>{{u.displayName}}</td>
      <td>{{u.logged}}</td>
      <td>{{u.updated}}</td>
      <td>{{u.status}}</td>
      <td>{{u?.roles}}</td>
      <td >{{u?.addresses?.length }}</td>
      <td>{{nbrOfShop(u?.id)}}</td>
    </tr>
  </table>
</div>
