@import "../_var";

.nav1 {
  button {
    text-transform: uppercase;
    color: $dark-grey !important;
  }
}

.nav2 {
  font-size: 0.8em;

  button {
    color: $green !important;
  }
}

md-nav-bar {
  position: relative;
}

ul {
  list-style: none;
  text-align: center;
}

.toolbar-top {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: white;
}
////Responsible//////////////////////////////////////

.container-big {
  display: block;
}

.container-small {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .container-big {
    display: none;
  }

  .container-small {
    display: block;
    margin-left: -8%;
  }
}
////SIDE NAV//////////////////////////////////////

.sidenav {
  text-align: center;

  h3 {
    background-color: $light-grey;
    padding:5px;
    font-weight: normal;
  }
}


.sidenav-container {
  margin: 20px;
   button{
     width:100%;
   }
}

li {
  list-style: none;
}
