@import "../_var";

nav {
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index:10;
  /* Full width */
}

.nav1 {
  button {
    text-transform: uppercase;
    color: $dark-grey !important;
  }
}

.nav2 {
  font-size: 0.8em;

  button {
    color: $green !important;
  }
}

md-nav-bar {
  position: relative;
}

ul {
  list-style: none;
  text-align: center;
}

.toolbar-top {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 10px;
  background-color: white;
}

router-outlet{
  z-index:1;
}
////Responsible//////////////////////////////////////

.container-big {
  display: block;
}

.container-small {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .container-big {
    display: none;
  }

  .container-small {
    display: block;
    margin-left: -8%;
  }
}
////SIDE NAV//////////////////////////////////////

.sidenav {
  text-align: center;

  h3 {
    background-color: $light-grey;
    padding: 5px;
    font-weight: normal;
  }
}

.sidenav-container {
  margin: 20px;

  button {
    width: 100%;
  }
}

li {
  list-style: none;
}
