<md-sidenav-container fullscreen>
  <nav>
    <md-toolbar class="toolbar-top">
      <img src="../../assets/img/logo.gif" alt="logo" width="60px">
      <div class="container-small">
        <button md-icon-button color="accent" class="container-small" (click)="sidenav.open()">
          <md-icon>view_headline</md-icon>
          <span>Menu</span>
        </button>
      </div>
      <span></span>
      <ul class="container-big">
        <li class="nav1">
          <button md-button routerLink="">
            Maraîcher
          </button>
          <button md-button routerLink="">
            Boucherie
          </button>
          <button md-button routerLink="">
            Laiterie
          </button>
          <button md-button routerLink="">
            Boulangerie
          </button>
          <button md-button routerLink="">
            Epicerie
          </button>
          <button md-button routerLink="">
            Soins & Maison
          </button>
        </li>
        <li class="nav2">
          <button md-button routerLink="">
            Qui sommes-nous ?
          </button>
          <button md-button routerLink="">
            Comment ça marche ?
          </button>
          <button md-button routerLink="">
            Producteurs
          </button>
          <button md-button routerLink="">
            Participer
          </button>
          <button md-button routerLink="">
            Contact
          </button>
        </li>
      </ul>
      <span></span>
      <div>
        <button md-icon-button color="accent">
        <md-icon>search</md-icon>
      </button>
        <button md-icon-button color="accent" [mdMenuTriggerFor]="menu">
        <md-icon>face</md-icon>
      </button>
        <md-menu #menu="mdMenu">
          <div *ngIf="user.isAuthenticated()">
            <button md-menu-item color="accent" routerLink="/dashboard">
            <md-icon>perm_identity</md-icon>
            <span>Bonjour, {{ user?.displayName }}</span>
            </button>
            <button md-menu-item color="accent" (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            <span>Se déconnecter</span>
          </button>
          </div>
          <div *ngIf="!user.isAuthenticated()">
            <button md-menu-item color="accent" routerLink="/login">
              <md-icon>perm_identity</md-icon>
              <span>Se connecter</span>
            </button>
          </div>
        </md-menu>
        <button color="accent" md-icon-button>
        <md-icon>shopping_basket</md-icon>
      </button>
      </div>
    </md-toolbar>
  </nav>
  <md-sidenav #sidenav class="sidenav" mat-elevation-z6>
    <md-toolbar color="primary">
      <h2><span>Panier-local</span></h2>
    </md-toolbar>
    <div class="sidenav-container">
      <h3>Catégories</h3>
      <div class="nav1side">
        <li><button md-button routerLink="">Maraîcher</button></li>
        <li><button md-button routerLink="">Boucherie</button></li>
        <li><button md-button routerLink="">Laiterie</button></li>
        <li><button md-button routerLink="">Boulangerie</button></li>
        <li><button md-button routerLink="">Epicerie</button></li>
        <li><button md-button routerLink="">Soins & Maison</button></li>
      </div>
      <h3>Informations</h3>
      <div class="nav2side">
        <li><button md-button routerLink="">Qui sommes-nous ?</button></li>
        <li><button md-button routerLink="">Comment ça marche ?</button></li>
        <li><button md-button routerLink="">Producteurs</button></li>
        <li><button md-button routerLink="">Participer</button></li>
        <li><button md-button routerLink="">Contact</button></li>
      </div>
    </div>
  </md-sidenav>

  <router-outlet></router-outlet>

</md-sidenav-container>
