<div class="container">
	<h1>{{product.title}}</h1>
	<h4>Category : {{product.categories.name}}</h4>
	<div>
      <a [routerLink]="['/produit/edit',product.sku]"><button>Edit</button></a>
    </div>
	<div>
		<h3>Price</h3>
		<label>{{product.pricing.price}} CHF </label>
		<div>
			<label>TVA : {{product.pricing.tva}} </label> <label>Part :
				{{product.pricing.part}} </label> <label>Stock :
				{{product.pricing.stock}} </label>
		</div>
	</div>
	<div>
		<h3>Vendor</h3>
		<label>{{product.vendor.name}} CHF </label>
		<h4>Description</h4>
		<div>
			<label>{{product.vendor.description}} </label>
		</div>
	</div>
	<div [hidden]="!category.cover">
		<img title="" class="img-thumbnail" [src]="product.photo.url"
			*ngIf="product.photo.url">
	</div>
	
</div>
