/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import './_custom-theme';
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,600);

$green: #95b023;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

body{
  font-family: Raleway;
  color: $dark-grey;
}
