<md-sidenav-container fullscreen>
  <nav>
    <md-toolbar class="toolbar-top">
      <img src="../../assets/img/logo.gif" alt="logo" width="60px">
      <div class="container-small">
        <button md-icon-button color="accent" class="container-small" (click)="sidenav.open()">
          <md-icon>view_headline</md-icon>
          <span>Menu</span>
        </button>
      </div>
      <span flex></span>
      <ul class="container-big">
        <li class="nav1">
          <a [routerLink]="" [routerLinkActive]="['active']">Maraîcher</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Boucherie</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Laiterie</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Boulangerie</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Epicerie</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Soins & Maison</a>
        </li>
        <li class="nav2">
          <a [routerLink]="" [routerLinkActive]="['active']">Qui sommes-nous ?</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Comment ça marche ?</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Producteurs</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Participer</a>
          <a [routerLink]="" [routerLinkActive]="['active']">Contact</a>
        </li>
      </ul>
      <span flex></span>
      <div>
      <button md-icon-button color="accent">
        <md-icon>search</md-icon>
      </button>
        <button md-icon-button color="accent" [mdMenuTriggerFor]="menu">
        <md-icon>face</md-icon>
      </button>
        <md-menu #menu="mdMenu">
          <div *ngIf="user.isAuthenticated()">
            <button md-menu-item color="accent" routerLink="/dashboard">
            <md-icon>perm_identity</md-icon>
            <span>Bonjour, {{ user?.displayName }}</span>
            </button>
            <button md-menu-item color="accent" (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            <span>Se déconnecter</span>
          </button>
          </div>
          <div *ngIf="!user.isAuthenticated()">
            <button md-menu-item color="accent" routerLink="/login">
              <md-icon>perm_identity</md-icon>
              <span>Se connecter</span>
            </button>
          </div>
        </md-menu>
        <button color="accent" md-icon-button>
        <md-icon>shopping_basket</md-icon>
      </button>
      </div>
    </md-toolbar>
  </nav>
  <md-sidenav #sidenav class="sidenav">
    <md-toolbar color="primary">
      <h1>Panier-local</h1>
    </md-toolbar>
    <div class="sidenav-container">
    <h3>Catégories</h3>
    <div class="nav1side">
      <li><a [routerLink]="" [routerLinkActive]="['active']">Maraîcher</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Boucherie</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Laiterie</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Boulangerie</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Epicerie</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Soins & Maison</a></li>
    </div>
    <h3>Informations</h3>
    <div class="nav2side">
      <li><a [routerLink]="" [routerLinkActive]="['active']">Qui sommes-nous ?</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Comment ça marche ?</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Producteurs</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Participer</a></li>
      <li><a [routerLink]="" [routerLinkActive]="['active']">Contact</a></li>
    </div>
  </div>
  </md-sidenav>
</md-sidenav-container>
