<!--
<div class="container-fluid">
  <header>
    <span>
      <a routerLink="/">Home</a>
      karibou.ch
    </span>

    <span>
      {{ username }}
      <a routerLink="/login"><button>login</button></a>
    </span>
  </header>
</div>
-->
<nav class="navbar navbar-default">
  <div [hidden]="config" class="small">pas d'accès à l'API</div>

  <div class="container-fluid" [hidden]="!config">

    <ul class="nav navbar-nav">
      <li ><a routerLink="/">kio2-test</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/config">config</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/dashboard">user</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/users">users</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/category">category</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/product">products</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/order">order</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/shop">shop</a></li>
    </ul>
    <div class="navbar-header">
    </div>
    <!-- AUTH -->
    <ul class="nav navbar-nav navbar-right" *ngIf="user.isAuthenticated()">
      <li><a routerLink="/dashboard"><span class="glyphicon glyphicon-user"></span> {{ user?.displayName }}</a></li>
      <li><button type="button" class="btn btn-default navbar-btn" (click)="logout()">Logout</button></li>
    </ul>

    <!-- ANONYMOUS -->
    <ul class="nav navbar-nav navbar-right" *ngIf="!user.isAuthenticated()">
      <li><a><span class="glyphicon glyphicon-user"></span> {{ user?.displayName }}</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
